{% extends 'YouFoodRestaurantBundle:Layout:modal.html.twig' %}

{% set id = "yfCreateZone" %}


{% block header %}
    <h3>Add a Zone</h3>
{% endblock %}

{% block body %}
    <form action="{{ path('Zone_create', { 'idRestaurant': idRestaurant }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

            <input id="{{ id }}FormSubmit" class="btn btn-primary" type="submit" style="display: none;"/>
    </form>
{% endblock %}