<form action="{{ path('Plat_update', { 'idPlat': idPlat }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input id="PlatUpdateFormSubmit" class="btn btn-primary" type="submit" style="display: none;"/>
</form>